.button {
  background-color: #4b51ef;
  padding: 5px 15px;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  color: white;
  &:disabled {
    background: grey;
    cursor: default;
  }
  &:disabled:hover {
    background: grey;
  }
  &:disabled:active {
    background: grey;
  }
  &:hover {
    background-color: #3d37ab;
  }
  &:active {
    background-color: #242772;
  }
}
