.editUserForm {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  margin-top: 16px;
}

.buttonToggleMode {
  position: absolute;
  top: 13px;
  right: 0;
  height: 27px;
  padding-top: 6px;
}

.buttonSaveForm {
  height: 27px;
  background-color: #52cf4f;
  float: right;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  color: #fff;
  &:hover {
    background-color: #368d35;
  }
  &:active {
    background-color: #1f511e;
  }
  &:disabled {
    background: grey;
    cursor: default;
  }
  &:disabled:hover {
    background: grey;
  }
  &:disabled:active {
    background: grey;
  }
}

.changeUserFieldLabel {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 12px;
  max-width: 50%;
  font-size: 8px;
  line-height: 9px;
}

.changeUserFieldInput {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  height: 22px;
  padding: 0 10px;
  margin-top: 3px;
  font-size: 10px;
}

.comment {
  max-width: 100%;
}

.commentInput {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  vertical-align: top;
  min-height: 55px;
  resize: vertical;
}

.invalid {
  border-color: #d91313;
}
