* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.main {
  width: max(420px, 63%);
  margin-left: 31px;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 665px;
  display: flex;
  min-height: 100vh;
}

.defaultTextFont {
  font-size: 12px;
  line-height: 14px;
}
